<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Anonymous Survey - Showcase Modern Web Development{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <div id="app"></div>

    <script>
        window.__APP_PROPS__ = {{ props|json_encode|raw }};
    </script>

    {% if app_env == 'dev' %}
        <script type="module" src="http://localhost:5173/build/main.ts"></script>
    {% else %}
        <script type="module" src="{{ vite_asset.asset('main.ts') }}"></script>
        {% for cssFile in vite_asset.css('main.ts') %}
            <link rel="stylesheet" href="{{ '/build/' ~ cssFile }}">
        {% endfor %}
    {% endif %}
</body>
</html>